.container{
    width: auto;
    background-color: silver;
    margin: 0px auto;
    padding: 1%;
}
.top-nav {
    height: 150px;
    margin:  1%;
    vertical-align: middle;
    background-color: green;
}

.side-nav {
    height: 400px;
    width: 20%;
    margin: 1%;
    display: inline-block;
    background-color: blue;
}
.main {
    height: auto;
    width: 74%;
    display: inline-block;
    margin: 1%;
    padding: .5%;
    vertical-align: top;
    background-color: red;
}
.sub-content {
    height: 300px;
    width: 30%;
    margin: 1%;
    display: inline-block;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 95%;
    margin: 1%;
    margin-bottom: 10%;
    display: inline-block;
    background-color: purple;
}

