.container{
    width: auto;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
.top-nav {
    height: 150px;
    margin:  15px;
    vertical-align: middle;
    background-color: green;
}

.side-nav {
    height: 400px;
    width: 20%;
    margin: 15px;
    display: inline-block;
    background-color: blue;
}
.main {
    height: auto;
    width: 75%;
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    background-color: red;
}
.sub-content {
    height: 300px;
    width: 30%;
    margin: 10px;
    display: inline-block;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 94%;
    margin: 10px;
    background-color: purple;
}

