<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- CSS only -->

    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>Movie App</title>
</head>

<body>
    <header class="d-flex justify-content-between">
        {% if not request.session.user_id %}
        <div>
            <a href="/login" class="btn btn-outline-success mx-1">
                Log in
            </a>
            <a href="/register" class="btn btn-success mx-1">
                Sign up
            </a>
        </div>
        {% else %}
        <div>
            <a href="/SignOut" class="btn btn-outline-success mx-1">
                Log out
            </a>
            <a href="/profile" class="btn btn-outline-success mx-1">
                profile
            </a>
        </div>
        {%endif%}
        <form id="form">
            <input type="text" id="search" class="search" placeholder="Search">
        </form>

    </header>

    <main id="main">
        <div class="row my-5">
            <div class="card d-flex justify-content-between">
                <div>{{ user.fname }}{{ user.lname }}</div>
                <div>
                    <p> Your List of Movies _</p>
                    <p> Your Watched Movies _</p>
                    <p> Your favorite of Movies _</p>
                </div>
            </div>
        </div>
    </main>

    <!-- <script src="script.js"></script> -->

</body>

</html>