<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Book Details</title>
</head>

<body>
    <div class="container my-3">
        <h1>{{ book.title }}</h1>
        <ul class="list-unstyled">
            <li>ID:<span> {{ book.id }}</span></li>
            <li>
                Description:<strong> {{ book.desc }}</strong>
            </li>
            <li>Author:
                <ul>
                    {% for i in book.books.all %}
                    <li>{{ i.fname }}</li>
                    {% endfor %}
                    <li class="list-unstyled">
                        <form action="../addAuthorTo" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="BID" value="{{ book.id }}">
                            <select name="AID" id="">
                                {% for author in authors %}
                                <option value="{{ author.id }}">
                                    {{ author.fname }} {{ author.lname }}
                                </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Add">
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>