<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Author Details</title>
</head>

<body>
    <div class="container my-3">
        <h1>{{authors.fname }} {{ authors.lname }}</h1>
        <ul class="list-unstyled">
            <li>ID:<span> {{authors.id }}</span></li>
            <li>
                Notes:<strong> {{authors.notes }}</strong>
            </li>
            <li>Books:
                <ul>
                    {% for i in authors.books.all %}
                    <li>{{ i.title }}</li>
                    {% endfor %}
                    <li class="list-unstyled">
                        <form action="../addBookTo" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="AID" value="{{ authors.id }}">
                            <select name="BID" id="">
                                {% for book in books %}
                                <option value="{{ book.id }}">
                                    {{ book.title }}
                                </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Add">
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>