<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Details Trip page</title>
</head>

<body>
    <div class="container my-5">
        <div class="head d-flex justify-content-between">
            <h1>Hello {{ user.fname }}</h1>
            <div class="action ">
                <a href="/dashboard" class="mx-5">Dashboard</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="trip">
                    <p>{{ trip.dest }}</p>
                    <div class="card p-2">
                        <p>Start Date: {{trip.Sdate }}</p>
                        <p>End Date: {{trip.Edate }}</p>
                        <p>Created On: {{ trip.created_at }}</p>
                        <p>Last Updated: {{ trip.updated_at }}</p>
                        <p>Plan: {{ trip.plan }}</p>
                        <p>Created by: {{ trip.user.fname }}</p>
                    </div>
                </div>
                <div class="trip_list my-5">
                    <div class="card p-2 border border-primary">
                        <p>People who've joined the trip:</p>
                        <ul class="list-unstyled">
                            {%for userList in trip.list.all %}
                            <li>{{ userList.fname }}</li>
                            {%endfor%}
                        </ul>

                    </div>
                </div>
            </div>

        </div>


    </div>
</body>

</html>