body{
    padding: 1px;
    background-color: aliceblue;
}
img.octocat {
    height: 200px;    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
}
.top{
background-color: blanchedalmond;
}
.mid{

    background-color: orange;
}
.last{
    background-color: red;
}
