@font-face {
    font-family: 'Monolog';
    src: local('Monolog SemiBold'), local('Monolog-SemiBold'),
        url('Monolog-SemiBold.woff2') format('woff2'),
        url('Monolog-SemiBold.woff') format('woff'),
        url('Monolog-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
*{
    font-family: 'Monolog', sans-serif;
    /* outline: dotted red; */
}
strong{
    font-family:  sans-serif;
}
em{
    text-align: center;
}
body{
    margin: auto;
}
.container{
    padding: 0% 25%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #CCCCCC;
    padding: 0% 3%;

}

.main{
display: flex;
justify-content: space-between;
column-gap: 2%;
margin-top: 2%;
}
.content{
    width: 70%;

}
.side_content{
    width: 30%;
}

.post{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid black;
    margin-bottom: 5%;
    padding: 3%;
    column-gap: 2%;

}
.adds{
    border: 5px solid black;
    padding: 5%;
}

.info{
    width: 25%;   
    text-align: center;
    
}

.info p{
    margin: 2%;
    margin-bottom: 15%;
}
.info h2{
    margin: 2%;
    font-size: xx-large;
}

.details{
    width: 70%; 
}

.btn{
    box-shadow: 3px 3px 0px 1px #000;
    color: #000;
    background-color: #FFD966;
    font-weight: bold;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    
}

#add{
    background-color: #93c47d;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    
}
.nav-btn{
    background-color: #2B78E4;
    /* font-size: ; */
    font-size: medium;
    width:  10%;
    color: #fff; 
}

#search{

    
}


